# ML Lab 2

In [ ]:
import pandas as pd
import numpy as np

## 2. Create a Series and DataFrame using the given data in the table.

In [ ]:
# Using DataFrame
Tdata = {'Location': ['United States','India','Brazil','Russia','United Kingdon','France','Spain','Italy','Turkey','Germany'],
         'Cases': [28833039,11079979,10517232,4246079,4170519,3736016,3188553,2907825,2693164,24444169],
         'Deaths': [517204,156938,254263,86122,122705,86332,69142,97507,28503,70601],
         'Recovered': [np.nan,1063451,9386440,3811797,np.nan,np.nan,np.nan,2398352,2565723,2242767]}
Tdataframe = pd.DataFrame(Tdata)
cases_series = pd.Series(Tdata["Cases"], index=Tdata["Location"])
Tdataframe

         Location     Cases  Deaths  Recovered
0   United States  28833039  517204        NaN
1           India  11079979  156938  1063451.0
2          Brazil  10517232  254263  9386440.0
3          Russia   4246079   86122  3811797.0
4  United Kingdon   4170519  122705        NaN
5          France   3736016   86332        NaN
6           Spain   3188553   69142        NaN
7           Italy   2907825   97507  2398352.0
8          Turkey   2693164   28503  2565723.0
9         Germany  24444169   70601  2242767.0

In [ ]:
cases_series

United States     28833039
India             11079979
Brazil            10517232
Russia             4246079
United Kingdon     4170519
France             3736016
Spain              3188553
Italy              2907825
Turkey             2693164
Germany           24444169
dtype: int64

## 3. Create a new column (Status) in created DataFrame. Analyze the "Cases" column, in case of less than 3 million cases set the Status to low. In case of greater than 3 million and less than 4 million cases Status is medium, otherwise high.

In [ ]:
Tdataframe.loc[Tdataframe['Cases'] < 3000000,'Status']= "low"

Tdataframe.loc[Tdataframe['Cases']>3000000 & Tdataframe['Cases'],'Status'] = "medium"
Tdataframe.loc[Tdataframe['Cases']>4000000,'Status'] = "high"
Tdataframe

         Location     Cases  Deaths  Recovered  Status
0   United States  28833039  517204        NaN    high
1           India  11079979  156938  1063451.0    high
2          Brazil  10517232  254263  9386440.0    high
3          Russia   4246079   86122  3811797.0    high
4  United Kingdon   4170519  122705        NaN    high
5          France   3736016   86332        NaN  medium
6           Spain   3188553   69142        NaN  medium
7           Italy   2907825   97507  2398352.0  medium
8          Turkey   2693164   28503  2565723.0  medium
9         Germany  24444169   70601  2242767.0    high

## 4. Rank the created Series and DataFrame in ascending order of the death counts.

In [ ]:
Tdataframe['Deaths'].rank(ascending=True).sort_values()

8     1.0
6     2.0
9     3.0
3     4.0
5     5.0
7     6.0
4     7.0
1     8.0
2     9.0
0    10.0
Name: Deaths, dtype: float64

## 5. Compute the statistics of the created Series and DataFrame by using Table 2.10 functions.

In [ ]:
# Computing statistics for the Series (Cases by Location)
print("Statistics for the Series (Cases by Location):\n")
print("Count:", cases_series.count())
print("Description:\n", cases_series.describe())
print("Minimum value:", cases_series.min())
print("Maximum value:", cases_series.max())
print("Index of minimum value:", cases_series.idxmin())
print("Index of maximum value:", cases_series.idxmax())
print("Sum of values:", cases_series.sum())
print("Mean of values:", cases_series.mean())
print("Median of values:", cases_series.median())
print("Variance of values:", cases_series.var())
print("Standard deviation of values:", cases_series.std())
print("Skewness of values:", cases_series.skew())
print("Kurtosis of values:", cases_series.kurt())
print("Cumulative sum:\n", cases_series.cumsum())
print("Cumulative minimum:\n", cases_series.cummin())
print("Cumulative maximum:\n", cases_series.cummax())
print("First differences:\n", cases_series.diff())
print("Percent change:\n", cases_series.pct_change())


# Computing statistics for the DataFrame
print("\nStatistics for the DataFrame:\n")
print("Count:\n", Tdataframe.count())
print("Description:\n", Tdataframe.describe())
print("Sum of values:\n", Tdataframe.sum(numeric_only=True))
print("Mean of values:\n", Tdataframe.mean(numeric_only=True))
print("Median of values:\n", Tdataframe.median(numeric_only=True))
print("Variance of values:\n", Tdataframe.var(numeric_only=True))
print("Standard deviation of values:\n", Tdataframe.std(numeric_only=True))
print("Skewness of values:\n", Tdataframe.skew(numeric_only=True))
print("Kurtosis of values:\n", Tdataframe.kurt(numeric_only=True))

numeric_df = Tdataframe.select_dtypes(include=['number'])
print("Cumulative sum:\n", numeric_df.cumsum())
print("Cumulative minimum:\n", numeric_df.cummin())
print("Cumulative maximum:\n", numeric_df.cummax())
print("First differences:\n", numeric_df.diff())
print("Percent change:\n", numeric_df.pct_change())

## 6. Fill the missing data of Table 2.14 with the mean and median value of a Series by using fillna function.

In [ ]:
mean_cases = cases_series.mean()
median_cases = cases_series.median()
# Filling with the mean
df_mean_filled = Tdataframe.copy()
df_mean_filled["Recovered"] = df_mean_filled["Recovered"].fillna(mean_cases)
# Filling with the median
df_median_filled = Tdataframe.copy()
df_median_filled["Recovered"] = df_median_filled["Recovered"].fillna(median_cases)
print("DataFrame with 'Recovered' filled using mean of 'Cases':\n", df_mean_filled)
print("\nDataFrame with 'Recovered' filled using median of 'Cases':\n", df_median_filled)